.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 50rem;
  position: relative;

  &__side {
    background: orange;
    height: 50rem;
    border-radius: 3px;
    box-shadow: 0 1rem 4rem rgba($black, 0.2);
    transition: all 0.8s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;

    &--front {
      background: $white;
      .card__image {
        background-blend-mode: screen;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        height: 20rem;
        &--1 {
          background: $color-secondary-light url("../img/nat-5.jpg") no-repeat
            top / cover;
        }
      }
      .card__heading {
        color: $white;
        text-transform: uppercase;
        font-size: 2.8rem;

        text-align: right;
        width: 75%;

        position: absolute;
        top: 12rem;
        right: 2rem;
      }
      .card__heading-span {
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        padding: 1rem 1.5rem;
        background: linear-gradient(
          to bottom right,
          rgba($color-secondary-light, 0.85),
          rgba($color-secondary-dark, 0.85)
        );
      }
      .card__detail {
        padding: 3rem;

        ul {
          list-style: none;
          width: 80%;
          margin: 0 auto;
          li {
            text-align: center;
            font-size: 1.5rem;
            padding: 1rem;
            &:not(:last-child) {
              border-bottom: 1px solid $dark-light-2;
            }
          }
        }
      }
    }
    &--back {
      background: linear-gradient(
        to bottom right,
        $color-secondary-light,
        $color-secondary-dark
      );
      transform: rotateY(180deg);
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0);
  }
}
