@import "_mixin.scss";

.header {
  background: linear-gradient(
      to right bottom,
      rgba($light-green, 0.8),
      rgba($dark-green, 0.8)
    ),
    url("../img/hero.jpg") no-repeat top / cover;

  height: 95vh;

  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  position: relative;

  &__logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
  }
  &__logo {
    height: 3.5rem;
    animation-name: rotate;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    backface-visibility: hidden;
  }
  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    backface-visibility: hidden;
    text-align: center;
    width: 90vw;
  }

 
}

.section__about {
  background-color: $dark-light-1;
  margin-top: -20vh;
  padding: 25rem 0;
}
.section__features {
  padding: 20rem 0;
  background-color: $medium-green;
  color: $white;
  background: linear-gradient(
      to bottom right,
      rgba($light-green, 0.8),
      rgba($dark-green, 0.8)
    ),
    url("../img/nat-4.jpg") no-repeat top;
  background-size: cover;

  transform: skewY(-7deg) translateY(-8rem);

  & > * {
    transform: skewY(7deg);
  }
}
.section-tours {
  padding: 25rem 0 10rem 0;
  margin-top: -20rem;
  background-color: $dark-light-1;
}

