.composition {
  position: relative;
  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($black, 0.4);
    border-radius: 2px;
    outline-offset: 2rem;
    z-index: 10;
    transition: all 0.2s;

    @include respond(tab-port) {
      float: left;
      position: relative;
      display: flex;
      width: 33.333336;
      box-shadow: 0 1.5rem 4rem rgba($black, 0.4);
    }

    &--1 {
      position: absolute;
      left: 0;
      top: -2rem;

      @include respond(tab-port) {
        top: 0;
        left: 0;
        transform: translateX(-10rem) scale(0.9);
      }
    }

    &--2 {
      position: absolute;
      left: 48%;

      @include respond(tab-port) {
        left: 10rem;
        transform: translateY(-2rem) scale(1);
        z-index: 990;
      }
    }
    &--3 {
      position: absolute;
      top: 7rem;
      left: 20%;

      @include respond(tab-port) {
        top: 0;
        left: 30rem;
        transform: scale(0.9);
      }
    }
    &:hover {
      transform: scale(1.02);
      outline: 1.2rem solid $medium-green;
      z-index: 30;
    }
  }
  &:hover &__photo:not(:hover) {
    transform: scale(0.9);
  }
}
