.features-box {
  text-align: center;
  padding: 2.5rem;
  font-size: 1.5rem;
  border: 1px solid $dark-light-1;
  border-radius: 3px;
  background-color: rgba($white, 0.8);
  color: $dark;
  transition: transform 0.2s;

  &__icon {
    display: inline-block;
    font-size: 6rem;
    margin: 0.5rem;
    background: linear-gradient(to right bottom, $light-green, $medium-green);
    -webkit-background-clip: text;
    color: transparent;
  }
  &:hover {
    transform: translateY(-1.5rem) scale(1.02);
  }
}
