@mixin ClearFix() {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
@mixin ClearFloat {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

// @mixin colCommon {
//   background-color: orangered;
//   float: left;
//   &:not(:last-child) {
//     margin-right: $guter-horizontal;
//   }
// }

@mixin respond($breakPoint) {
  @if $breakPoint == desktop {
    @media (min-width: 112.5em) {
      @content;
    }
  }

  @if $breakPoint == tab-hori {
    @media (max-width: 75em) {
      //1200px
      @content;
    }
  }

  @if $breakPoint == tab-port {
    @media (max-width: 56.25em) {
      //900
      @content;
    }
  }
  @if $breakPoint == phone {
    @media (max-width: 37.5em) {
      // 600px /16px
      @content;
    }
  }
}
