* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  padding: 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  -webkit-transition: all 0.2;
  transition: all 0.2;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  /* TODO: box-shadow: x y blur color */
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active, .btn:focus {
  outline: none;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #fff;
  color: #777;
}

.btn--white::after {
  background-color: #fff;
}

.btn--green {
  background-color: #55c57a;
  color: #fff;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn--green::after {
  background-color: #55c57a;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn--animated {
  -webkit-animation: moveInBottom 0.5s ease-out 0.75s;
          animation: moveInBottom 0.5s ease-out 0.75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.btn-txt, .btn-txt:link, .btn-txt:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  padding: 3px;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-txt:hover {
  background-color: #55c57a;
  color: #fff;
  -webkit-box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
}

.btn-txt:active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.bg-video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .15;
  z-index: -1;
  overflow: hidden;
}

.bg-video__content {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), url("../img/hero.jpg") no-repeat top/cover;
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg") no-repeat top/cover;
  height: 95vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  position: relative;
}

.header__logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.header__logo {
  height: 3.5rem;
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  text-align: center;
  width: 90vw;
}

.section__about {
  background-color: #f7f7f7;
  margin-top: -20vh;
  padding: 25rem 0;
}

.section__features {
  padding: 20rem 0;
  background-color: #55c57a;
  color: #fff;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), url("../img/nat-4.jpg") no-repeat top;
  background: linear-gradient(to bottom right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-4.jpg") no-repeat top;
  background-size: cover;
  -webkit-transform: skewY(-7deg) translateY(-8rem);
          transform: skewY(-7deg) translateY(-8rem);
}

.section__features > * {
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
}

.section-tours {
  padding: 25rem 0 10rem 0;
  margin-top: -20rem;
  background-color: #f7f7f7;
}

.section__stories {
  padding: 15rem 0;
  position: relative;
}

.story {
  width: 75%;
  margin: 0 auto;
  background: rgba(247, 247, 247, 0.6);
  font-size: 1.6rem;
  -webkit-box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  padding: 6rem;
  padding-left: 9rem;
  border-radius: 3px;
  color: #777;
  -webkit-transform: skewX(-12deg);
          transform: skewX(-12deg);
}

.story__shape {
  height: 15rem;
  width: 15rem;
  font-size: 1.5rem;
  float: left;
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  -webkit-transform: translateX(-3rem) skewX(12deg);
          transform: translateX(-3rem) skewX(12deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all .2s;
  transition: all .2s;
  overflow: hidden;
  position: relative;
}

.story__img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: -3rem 0;
     object-position: -3rem 0;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.story__text {
  -webkit-transform: skewX(12deg);
          transform: skewX(12deg);
}

.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  color: #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
  opacity: 0;
}

.story:hover .story__caption {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
}

.story:hover .story__img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -o-object-position: -3.5rem 0;
     object-position: -3.5rem 0;
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

@-webkit-keyframes moveLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  80% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  80% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 6rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="colo-"] {
  float: left;
}

.row [class^="colo-"]:not(:last-child) {
  margin-right: 6rem;
}

.row .colo-1-of-2 {
  width: calc((100% - 6rem) / 2);
  color: #777;
  text-align: left;
}

.row .colo-1-of-3 {
  width: calc((100% - 12rem) / 3);
  color: #777;
  text-align: left;
}

.row .colo-2-of-3 {
  width: calc((100% - 6rem) / 2);
  color: #777;
  text-align: left;
}

.row .colo-1-of-4 {
  width: calc((100% - 18rem) / 4);
  color: #777;
  text-align: left;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-large {
  margin-bottom: 8rem;
}

.u-margin-top-huge {
  margin-top: 10rem;
}

.u-text-center {
  text-align: center;
}

.heading-primary {
  color: #fff;
  letter-spacing: 3.5rem;
  font-size: 6rem;
  font-weight: 400;
  text-transform: uppercase;
}

.heading-primary--main {
  display: block;
  -webkit-animation: moveRight 1s ease;
          animation: moveRight 1s ease;
}

.heading-primary--sub {
  display: block;
  letter-spacing: 1.75rem;
  /* margin-left: 16px; */
  font-size: 2rem;
  font-weight: 700;
  /* animation: name animation time function delay */
  -webkit-animation: moveLeft 1s ease;
          animation: moveLeft 1s ease;
}

.heading__secondary {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2rem;
  display: inline-block;
  font-size: 3.5rem;
  background: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
  background: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.heading__secondary:hover {
  -webkit-transform: skewY(-2deg) skewX(15deg) scale(1.1);
          transform: skewY(-2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 1rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
}

.para:not(:last-child) {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.composition {
  position: relative;
}

.composition__photo {
  width: 55%;
  border-radius: 2px;
  outline-offset: 2rem;
  z-index: 10;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.composition__photo--1 {
  position: absolute;
  left: 0;
  top: -2rem;
}

.composition__photo--2 {
  position: absolute;
  left: 48%;
}

.composition__photo--3 {
  position: absolute;
  top: 7rem;
  left: 20%;
}

.composition__photo:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  outline: 1.2rem solid #55c57a;
  z-index: 30;
}

.composition:hover .composition__photo:not(:hover) {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.features-box {
  text-align: center;
  padding: 2.5rem;
  font-size: 1.5rem;
  border: 1px solid #f7f7f7;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #777;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.features-box__icon {
  display: inline-block;
  font-size: 6rem;
  margin: 0.5rem;
  background: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#55c57a));
  background: linear-gradient(to right bottom, #7ed56f, #55c57a);
  -webkit-background-clip: text;
  color: transparent;
}

.features-box:hover {
  -webkit-transform: translateY(-1.5rem) scale(1.02);
          transform: translateY(-1.5rem) scale(1.02);
}

.card {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  -moz-perspective: 150rem;
  height: 50rem;
  position: relative;
}

.card__side {
  background: orange;
  height: 50rem;
  border-radius: 3px;
  -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card__side--front {
  background: #fff;
}

.card__side--front .card__image {
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  height: 20rem;
}

.card__side--front .card__image--1 {
  background: #ffb900 url("./img/nat-5.jpg") no-repeat top/cover;
  border-radius: 3px 3px 0 0;
}

.card__side--front .card__image--2 {
  background: #55c57a url("./img/nat-6.jpg") no-repeat top/cover;
  border-radius: 3px 3px 0 0;
}

.card__side--front .card__image--3 {
  background: #2998ff url("./img/nat-7.jpg") no-repeat top/cover;
  border-radius: 3px 3px 0 0;
}

.card__side--front .card__heading {
  color: #fff;
  text-transform: uppercase;
  font-size: 2.8rem;
  font-weight: 300;
  text-align: right;
  width: 75%;
  position: absolute;
  top: 12rem;
  right: 2rem;
}

.card__side--front .card__heading-span {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 1rem 1.5rem;
}

.card__side--front .card__heading-span--1 {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, 0.85)), to(rgba(255, 119, 48, 0.85)));
  background: linear-gradient(to bottom right, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}

.card__side--front .card__heading-span--2 {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(85, 197, 122, 0.85)), to(rgba(126, 213, 111, 0.85)));
  background: linear-gradient(to bottom right, rgba(85, 197, 122, 0.85), rgba(126, 213, 111, 0.85));
}

.card__side--front .card__heading-span--3 {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(41, 152, 255, 0.85)), to(rgba(86, 67, 250, 0.85)));
  background: linear-gradient(to bottom right, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}

.card__side--front .card__detail {
  padding: 3rem;
}

.card__side--front .card__detail ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}

.card__side--front .card__detail ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

.card__side--front .card__detail ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.card:hover .card__side--front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.card__side--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card__side--back-1 {
  background: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730));
  background: linear-gradient(to bottom right, #ffb900, #ff7730);
}

.card__side--back-2 {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(85, 197, 122, 0.85)), to(rgba(126, 213, 111, 0.85)));
  background: linear-gradient(to bottom right, rgba(85, 197, 122, 0.85), rgba(126, 213, 111, 0.85));
}

.card__side--back-3 {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(41, 152, 255, 0.85)), to(rgba(86, 67, 250, 0.85)));
  background: linear-gradient(to bottom right, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}

.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
}

.card__price-box {
  text-align: center;
  color: #fff;
  margin-bottom: 8rem;
  font-weight: 100;
}

.card__price-only {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.card__price-value {
  font-size: 6rem;
}

/* TODO:
  animation

  define animation name with @keyframe
  @keyframe animationName{
      0%{ 
          do something
      }
      100%{ 100% means 100% of the animation
          do something
      } 
  
  
  when we move any (px) div/item using absolute position then use
  the translate(moved-px from top) to acutally place the
  place the item on that much moved place e.g
  div{
      position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
  }
  
  */
/*# sourceMappingURL=main.css.map */